/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
body {
  background-color: #000;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.cmd {
  background: #000;
  margin: 0 auto;
  width: 700px;
  height: 700px;
  color: #fff;
  margin-top: 20px;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.console-font {
  font-family: "Courier New", monospace;
  font-size: 14px;
  white-space: pre;
}

.launchButton {
  margin: 0 auto;
  width: 0px;
}

.cursorHid {
  visibility: hidden;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
